extends layout/main_layout.pug 

block content
    .container-fluid.htab
        .row.hnav
            .col-md-3.htab1
                .logo
                    a(href='#')
                    img(src='/images/logo.png' height='38px')
                .search
                    span.fa.fa-search
                    input(type='text' placeholder='Search')
            .col-md-7
                ul.nav-center(type='none')
                    li
                        a.active-link(href='#')
                            i.fa.fa-home 
                            span Home
                    li
                        a(href='#')
                            i.fa.fa-user 
                            span My Network
                    li
                        a(href='#')
                            i.fa.fa-briefcase 
                            span Jobs
                    li
                        a(href='#')
                            i.fa.fa-commenting
                            span Messaging
                    li
                        a(href='#')
                            i.fa.fa-bell
                            span Notifications
            .col-md-2.nav-right
                img(src='/images/profilePic.png')
                a(href="/logoutPage")  Logout
        .row
            .col-md-3.right
                    .profile
            .col-md-6.center
                .ctop
                    .post
                        img(src='/images/profilePic.png')
                        textarea#postTextarea(name='post',placeholder='Write a post',required=' ')
                    .option
                        .ul1
                            .li1.fa.fa-camera
                                span Photo
                            .fa.fa-video-camera.li1
                                span Video
                            .fa.fa-calendar.li1
                                span Event
                            .li1
                                button#PostBtn
                                    i.fa.fa-paper-plane
                                    span Post
                .messages
                .modal-box
                    .modal-content 
                        .modal-header 
                            h3 Are you sure to delete ?
                            span.close-button &times;
                        .modal-buttons
                            button#btnDelete(type='button') Yes
                            button(type='button' class='close-button') Close
            .col-md-3.left
                    h4 Trending News
                    div
                        b High Demand for skilled manpower
                        p 1d ago - 100 readers
                    div
                        b High Demand for skilled manpower
                        p 12h ago - 90 readers
                    div
                        b High Demand for skilled manpower
                        p 19h ago - 130 readers
                    div
                        b High Demand for skilled manpower
                        p 1d ago - 211 readers
                    a(href='#') Read More
    script(src="/js/common.js")